<p class="back btn"><%= link_to "戻る", :back %></p>
<div class="container_center">
  <p class="user_image"><%= image_tag @user.image.url %></p>
  <%= form_with(model:@user,local:true,multipart:true,url:image_update_user_path(@user.id),method: :post) do |form| %>
    <% if logged_in? && current_user.id == @user.id %>

      <p class="user_image_button"><%= form.label :image, "プロフィール画像を変更" ,class: "btn"%></p>
    <% end %>
    <%= form.file_field :image, style:"display:none;" %>
  <% end %>
  <table class="user_info">
    <tr>
      <th>UserName:</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <% if logged_in? && current_user.id == @user.id %>
    <p class="btn user_edit_button"><%= link_to 'ユーザー情報を編集', edit_user_path(@user.id) %></p>
  <% end %>
</div>
<script type="text/javascript">
    $('input[type=file]').on('change', function (e) {
        console.log(e.target.files);
        if (e.target.files[0].size > 0) {
            $(this).parents('form').submit();
        }
    });
</script>
