<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/45ec1eb6b9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <p class="header-logo">MyPics</p>
    <ul class="header-nav">
      <li><%= link_to "Home", posts_path %></li>
      <% if logged_in? %>
        <li><%= link_to "NewPost", new_post_path %></li>
        <li><%= link_to "Favs", favorites_path %></</li>
        <li><%= link_to "MyPage", user_path(current_user.id) %></</li>
        <li><%= link_to "LogOut", session_path(current_user.id), method: :delete %></</li>
        <% else %>
        <li><%= link_to "LogIn", new_session_path %></li>
        <li><%= link_to "SignUp", new_user_path %></li>
      <% end %>
    </ul>
  </header>
  <body>
    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class:key) %>
    <% end %>
    <% if logged_in? %>
      <main class="narrow">
        <%= yield %>
      </main>
      <aside class="side_display">
        <div class="side_information">
          <h2>User</h2>
          <%= image_tag current_user.image.url %>
          <p><%= current_user.name %></p>
          <p class="side_email"><%= current_user.email %></p>
        </div>
      </aside>
      <% else %>
      <main class ="wide">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
