<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <p class="header-logo">MyPics</p>
    <ul class="header-nav">
      <li><%= link_to "home", posts_path %></li>
      <% if true %>
        <li><%= link_to "new", new_post_path %></li>
        <li><%= link_to "favs", posts_path %></</li>
        <% else %>
      <% end %>
        <li><%= link_to "SignUp", new_user_path %></li>
    </ul>
  </header>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
